<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="app/scss/main.scss">
<!--    <script src="https://use.fontawesome.com/44d5b18025.js"></script>-->
    <title>Document</title>
</head>
<body>
<header>
    <div class="header">
        <p class="headerTitle">YOUR PERSONALIZED  COFFEE</p>
        <img src="../../images/src/revo_logo.png" alt="">
        <img src="../../images/src/header_background.png" alt="">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <ul>
            <li>TRANG CHỦ</li>
            <li>COFFEE</li>
            <li>PHIN MẠ MÀU</li>
            <li>COMBO PHIN PHÊ</li>
            <li>GIFTSET</li>
            <li>LIÊN HỆ</li>
        </ul>
    </div>
</header>