<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/app.min.css">
    <link href="https://use.fontawesome.com/63ce1c135a.css" media="all" rel="stylesheet">
</head>
<body>
<header>
    <div class="header">
        <div class="container">
            <div class="headerNav">
                <div class="headerLogo">
                    <img src="./images/dest/Logo.svg" alt="">
                </div>
                <div class="headerNavigation">
                    <ul class="nav">
                        <li class="navElem">Главная</li>
                        <li class="navElem">Сеансы</li>
                        <li class="navElem">Отзывы</li>
                        <li class="navElem">Контакты</li>
                        <li class="navElem">Новости</li>
                        <li class="navElem">Обо мне</li>
                        <li class="navElem">Блог</li>
                    </ul>
                </div>
                <div class="headerButton">
                    <button class="headerBtn">Записаться на сеанс</button>
                </div>
            </div>
            <div class="headerBanner">
                        <div class="bannerFotoContainer">
                            <img class="bannerFoto" src="./images/dest/banner.jpg">
                        </div>
                    <div class="bannerTitle">
                        <div class="rectangleStyle rectLeft">
                            <img src="./images/dest/Rectangle-left.svg" alt="#">
                        </div>
                        <div>
                            <p class="bannerText text">Укрепление здоровья</p>
                        </div>
                        <div class="rectangleStyle rectRight">
                            <img src="./images/dest/Rectangle-right.svg" alt="#">
                        </div>
                        <p class="bannerSubText text">Акватерапия RitmStyle</p>
                    </div>

            </div>
            <div>
                <div class="bannerHeader2">
                    <p class="banner2Title text">Сеансы RitmStyle</p>
                </div>
            </div>
        </div>
    </div>
</header>