<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/app.min.css">
    <link href="https://use.fontawesome.com/63ce1c135a.css" media="all" rel="stylesheet">
</head>
<body>
<header>
    <div class="header">
        <div class="headerNav">
            <div class="headerLogo">
            </div>
            <div class="headerNavigation">
                <ul class="nav">
                    <li class="navMainElem navIndent">Home</li>
                    <li class="navElem navIndent">Blog</li>
                    <li class="navElem navIndent">Features</li>
                    <li class="navElem navIndent">Pricing</li>
                    <li class="navElem navIndent">Documentations</li>
                </ul>
            </div>
            <div class="socialNetworkBtn">
                <ul class="nav">
                    <li class="socialNetwork">
                        <img src="../../images/dest/f.svg">
                    </li>
                    <li class="socialNetwork imgTg">
                        <img src="../../images/dest/Telegram_logo.svg">
                    </li>
                    <li class="socialNetwork imgTwtr">
                        <img src="../../images/dest/twitter.svg">
                    </li>
                    <li class="socialNetwork imgMdm">
                        <img src="../../images/dest/Medium_icon.svg">
                    </li>
                </ul>
                <div class="navButton">
                    <button class="navBtn">Get started</button>
                </div>
            </div>
        </div>
    </div>
</header>