@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import './components/header';
@import './pages/index';

//fonts

@font-face {
  font-family: proxima-light;
  font-weight: 300;
  src: url("../fonts/proxima/proxima light/Proxima Nova Condensed Light.otf");
}
@font-face {
  font-family: proxima-regular;
  font-weight: 400;
  src: url("../fonts/proxima/proxima reg/ProximaNova-Regular.otf");
}
@font-face {
  font-family: proxima-bold;
  font-weight: 700;
  src: url("../fonts/proxima/proxima bold/Proxima Nova Bold.otf");
}
@font-face {
  font-family: el messiri;
  font-weight: 700;
  src: url("../fonts/el messiri/ElMessiri-Bold.ttf");
}

//header
body {
  background-color: #162831;
}