.blockNews {
  .newsContainer {
    height: 258px;
    border-radius: 14px;
    max-width: 416px;
    margin-bottom: 6%;
    background-size: cover;
  }

  .title {
    font-size: 21px;
    padding: 28% 0 0 8%;
  }


  @media screen and (max-width: 993px) {
    .title {
      font-size: 15px;
    }

    .newsContainer {
      height: 150px;
    }
  }

  @media screen and (max-width: 607px) {
    .title {
      font-size: 11px;
    }

    .newsContainer {
      height: 119px;
    }
  }
}
