.blockNews {
  .newsContainer {
    height: 258px;
    border-radius: 14px;
    max-width: 416px;
    margin-bottom: 6%;
    background-size: cover;
  }

  .dateContainer {
    background-color: #018ABE;
    border-radius: 5px;
    display: inline-block;
    margin: 8% 0 0 9%;
  }

  .date {
    font-family: proxima-bold, sans-serif;
    color: #fff;
    margin: auto;
    padding: 6px 12px 5px 12px;
    font-size: 13px;
  }

  .title {
    font-size: 21px;
    padding: 28% 0 0 8%;
  }
}
