.columnContainer {

  .titleBigColumn {
    font-size: 24px;
    padding: 456px 108px 50px 50px;
  }

  .title {
    font-size: 24px;
    padding: 194px 40px 30px 40px;
  }

  .changePd {
    padding: 150px 40px 30px 40px;
  }

  @media screen and (max-width: 1200px) {

  }
}