//headerNav


.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}
.headerBtn {
  font-family: proxima-regular, sans-serif;
  font-weight: 600;
  font-size: 13px;
  background-color: #018ABE;
  color: #fff;
  border: none;
  width: 155px;
  height: 36px;
  border-radius: 5px;
}

//banner1

.navElem {
  font-family: proxima-regular, sans-serif;
  font-size: 14px;
  padding: 0 25px 0 25px;
  text-decoration: none;
  color: #fff;
}
.bannerWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 136px;
}
.bannerText {
  font-size: 24px;
  margin: 0 ;
}
.rectangleStyle {
  margin: auto 0;
}
.bannerSubText {
  font-size: 64px;
  max-width: 587px;
  text-align: center;
  margin: 0 auto;
}
.text {
  font-family: el messiri, sans-serif;
  color: #fff;
}
.bannerFotoContainer {
  background-image: url("../../images/dest/banner.jpg");
  border-radius: 15px;
  height: 600px;

}
.rectLeft {
  padding-right: 66px;
}
.rectRight {
  padding-left: 66px;
}
.headerTitle {
  padding-top: 46px;
}

.bannerSubTextWrapper {
  display: flex;

}

.bannerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

}

//banner2




//news
.addition {
  padding-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #fff;
}

.newsImg {
  border-radius: 12px;
}
.newsColumn {
  padding-bottom: 120px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #fff;
}
.copyright {
  font-family: proxima-regular, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 30px 0;
}

//col-form

.modify3 {
  margin: 0;
}
.textContainer {
  max-width: 526px;
}
.colTitle {
  font-size: 24px;
  padding-top: 32px;
}
.textCol {
  font-family: proxima-light, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
}
.imageContainer {
  padding-top: 53px;
}
.imageColStyle {
  border-radius: 12px;
}
.colCotainer {
  padding-bottom: 161px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #fff;
}
.leftColHeight {
  max-height: 501px;
}

//blog

.widthText {
  max-width: 564px;
}
.buttonBlog {
  color: #fff;
  font-family: proxima-bold, sans-serif;
  font-size: 14px;
  width: 136px  ;
}
.bigColContainer {
  padding: 50px 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #018ABE;
  border-radius: 20px;
}
.bigColImage {
  padding: 0;
}

.contMargin {
  margin-top: 42px;
}


//descriptionSite

.descriptionSite {
  .title {
    font-size: 24px;
  }

  .textColumn {
    font-family: proxima-light, sans-serif;
    font-size: 18px;
    color: #fff;
    width: 466px;
    margin-top: 43px;
    line-height: 25px;
  }

  .image {
    background-image: url("../../images/dest/water-1.png");
    height: 365px;
  }

  .image2 {
    background-image: url("../../images/dest/water-2.png");
    height: 400px;
    margin-top: 96px;
  }

  .titleColumn {
    color: #fff;
    font-size: 25px;
    margin-top: 67px;
  }

  .containerColumn2 {
    margin: 116px 0 0 64px;
  }

  .containerColumn {
    padding: 31px 0 0 87px;
  }
}

//price

.priceWrapper {
  .textWrapper {
    display: flex;
  }

  .image {
    background-image: url("../../images/dest/certificate.png");
    height: 396px;
  }

  .textWrapper {

  }

  .priceTitle {
    font-family: proxima-regular, sans-serif;
    font-size: 18px;
    color: #fff;
  }

  .price {
    font-family: el messiri, sans-serif;
    font-size: 18px;
    color: #fff;
  }

  .priceText {
    font-family: el messiri, sans-serif;
    font-size: 21px;
    color: #fff;
  }

  .icon {
    margin: auto 0;
  }
}



