//headerNav

.container {
  max-width: 1296px;
}
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}
.headerBtn {
  font-family: proxima-regular, sans-serif;
  font-weight: 600;
  font-size: 13px;
  background-color: #018ABE;
  color: #fff;
  border: none;
  width: 155px;
  height: 36px;
  border-radius: 5px;
}

//banner1

.navElem {
  font-family: proxima-regular, sans-serif;
  font-size: 14px;
  padding: 0 25px 0 25px;
}
.bannerTitle {
  display: flex;
  position: absolute;
  bottom: 17em;
  left: 46em;
}
.bannerText {
  font-size: 24px;
  margin: 0 ;
}
.rectangleStyle {
  margin: auto 0;
}
.bannerSubText {
  font-size: 64px;
  position: absolute;
  top: 1em;
  max-width: 657px;
  text-align: center;
  margin: 0;
}
.text {
  font-family: el messiri, sans-serif;
  color: #fff;
}
.bannerFoto {
  border-radius: 15px;

}
.rectLeft {
  padding-right: 66px;
}
.rectRight {
  padding-left: 66px;
}
.headerBanner {
  padding-top: 46px;
}

//banner2

.banner2Title {

}


